<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asia</title>
</head>

<style>

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 14vh;
    background-color: darkslategray;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
}

p{
    text-align: justify;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    color: white;
    font-family: 'Tilt Neon', cursive;
}


body{
    background-color: darkslategray;
}

h1{
    position: absolute;
    font-family: 'Tilt Neon', cursive;
    left: 15%;
    color: white;
}


</style>

<body>

    <nav class="nav">

        <h1>Turquia</h1>

    </nav>

    <p>Cercada pelos mares Egeu, Negro e Mediterrâneo, a Turquia está localizada na fronteira entre dois continentes, a Europa e a Ásia, dois mundos, o Islâmico e o Ocidental, e entre rotas comerciais e de migração. Essa localização privilegiada da Turquia gera diversas contradições no país, já que, embora a maior parte da população turca seja islâmica, assemelhando-se com os demais países do Oriente Médio, uma dos principais anseios do país é ingressar na União Europeia, aumentando, assim, a sua relação com o mundo ocidental.
        Com uma área de 708 576 km², dos quais 3% estão localizados no continente europeu e 97% pertencem ao continente asiático, a Turquia possui uma grande diversidade natural e potencial hídrico. O relevo do país é constituído, principalmente, por várias cadeias de montanhas de idade bastante recente e pouco erodidas, um grande planalto localizado no centro do país e algumas áreas de planície muito férteis.   
        Apresenta também rios e lagos que garantem um grande potencial hidráulico e energético para o país. Vale salientar também que é na Turquia em que estão localizadas as nascentes dos rios Tigre e Eufrates, que, por serem fundamentais para o fornecimento de água para o país e os seus vizinhos, Síria e Iraque, têm causado diversos conflitos por água entre esses países. Por estar localizado na zona temperada, o principal clima do país é o temperado, mas também há o continental, no interior do país, o oceânico, na região do mar Negro, e o mediterrâneo, no sul.       
        A população da Turquia1, que apresenta cerca de 76 milhões de pessoas, é constituída, principalmente, por uma maioria turca (80% da população) e diversos grupos minoritários, como os curdos (18% da população), gregos, armênios, judeus, bcázios, albaneses, árabes, bósnios, chechenos, ciganos, circassianos, geórgios, hemichis, kabaris, lazos, levantinos, ossetas, pomaks, siríacos e zazas.        
        A população tem vivido nos últimos anos um progressivo aumento na qualidade de vida, mas os índices sociais² ainda deixam a desejar. A expectativa de vida no país é de cerca de 75 anos, cinco a menos do que a média dos países da OCDE (Organização para a Cooperação e o Desenvolvimento Econômico). Apenas 34% dos adultos com idades entre 25 e 64 anos concluíram o ensino médio. A satisfação pessoal dos turcos também está mais baixa do que a média dos países da OCDE. Em uma escala de 0 a 10, os turcos consideram que estão cerca de 5,6 satisfeitos com a vida que levam, 1 ponto a menos que a média da OCDE, que é de 6,6.</p>


    <p>Com relação à economia, o país possui uma base industrial consolidada, com indústrias de bens de consumo duráveis e não duráveis (alimentícias, automobilísticas, eletrônicas etc.), além de indústrias de base, principalmente as petroquímicas. A agricultura também é bastante desenvolvida, destacando-se a produção de figos, amêndoas, avelãs, damascos, tomates, pimentões, berinjelas, lentilhas, entre outros. Apesar disso, se comparada com o Império Otomano, do qual é herdeira, ela é relativamente pobre, já que, enquanto esse império rivalizou economicamente com as maiores potências da Europa durante séculos, a Turquia atual não consegue disputar a hegemonia mundial com essas potências, seu PIB é baixo, cerca de 750 bilhões de dólares, e o país não se destaca como uma potência econômica nem entre os países do Oriente Médio, sendo superado pelos grandes exportadores de petróleo.</p>

</body>
</html>